

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Arimo';
  font-size: 16px;
  scroll-behavior: smooth;

  --accent-blue: #007BFF;
  --gray: #8A8A8A;
  --light-gray: #F2F2F7;
  --white: #FFF;
  --accent-hover: #006ADC;
  --black: #222222;
  --green: #007D1B;
  --orange: #F2970E;
  --red: #c71212;
  --light-red: #ffeded;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

* h1 {
  font-size: 58px;
  font-weight: 700;
}

* h2 {
  font-size: 40px;
  font-weight: 700;
}

* h3 {
  font-size: 20px;
  font-weight: 700;
}

* p {
  font-weight: 400;
  line-height: 24px;
}

* h5 {
  font-size: 12px;
  font-weight: 700;
}

* h6 {
  font-size: 14px;
  font-weight: 400;
}

.gray-text {
  color: var(--gray);
}

.light-gray-text {
  color: var(--gray);
}

.content {
  margin: auto;
  max-width: 960px;
  padding-top: 40px;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: auto;
  width: 100%;
  backdrop-filter: blur(20px);
}

.header-content {
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--accent-blue);
  margin: auto;
  padding: 8px 0px;
  align-items: center;
  justify-content: end;
  max-width: 960px;
}

.lang-change-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 4px;
  transition: 0.3s;
}

.lang-change-btn img {
  height: 12px;
  filter: invert(30%) sepia(98%) saturate(2938%) hue-rotate(201deg) brightness(104%) contrast(104%);
  transition: 0.3s;
}

.lang-change-btn:hover {
  color: var(--accent-hover);
  cursor: pointer;
  transition: 0.3s;
}

.banner {
  padding: 60px 0px 32px 0px;
  margin: auto;
  max-width: 960px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.banner-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialog{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dialog-message{
  padding: 8px 12px;
  border-radius: 20px;
  width: 300px;
}

.h2-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vertical-line-div {
  width: 1px;
  background-color: var(--light-gray);
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 440px;
}

.examples {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.example-block{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.example-row{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.message-example {
  padding: 8px 12px;
  border-radius: 20px;
  width: fit-content;
}

.generator {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sticker{
  position: absolute;
  top: 48px;
  left: 672px;
  padding: 4px 6px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 12px;
  border-radius: 12px;
}

.generator-forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-form {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.generator input {
  width: 100%;
  height: 48px;
  border: solid 2px var(--light-gray);
  border-radius: 24px;
  background-color: var(--light-gray);
  padding: 0px 180px 0px 24px;
}

.generator input::placeholder {
  color: var(--gray);
  font-size: 16px;
}

.generator input:focus {
  outline: none !important;
  border: solid 2px var(--accent-blue) ;
}

.input-panel {
  display: flex;
  position: absolute;
  top: 12px;
  right: 194px;
  flex-direction: row;
  align-items: center;
  color: var(--gray);
  gap: 12px;
}

.input-counter p {
  font-size: 12px; 
  min-width: 50px;
  text-align: end;
}

.input-clear {
  border-radius: 20px;
  border: solid 1px var(--gray);
  padding: 4px;
  font-size: 12px;
  color: var(--gray);
  transition: 0.3s;
  background-color: var(--light-gray);
}

.input-clear:hover {
  cursor: pointer;
  color: var(--black);
  border: solid 1px var(--black);
  transition: 0.3s;
}

.m-button {
  padding: 12px 24px;
  border: none;
  border-radius: 40px;
  background-color: var(--accent-blue);
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.m-button:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
  transition: 0.3s ease-in-out;
}

.loader {
  min-height: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: var(--gray);
}

.spinner {
  width: 24px;
  height: 24px;
  border: 2px solid var(--gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.2s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.message-res-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.message {
  min-height: 120px;
  background-color: var(--light-gray);
  border-radius: 24px;
  width: 720px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.message-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}

.message-btn {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  color: var(--gray);
  text-decoration: underline;
  transition: 0.3s;
}

.message-btn img {
  height: 12px;
  transition: 0.3s;
  filter: invert(57%) sepia(1%) saturate(0%) hue-rotate(243deg) brightness(96%) contrast(88%);
}

.message-btn:hover {
  color: var(--black);
  cursor: pointer;
  transition: 0.3s;
}

.future-msg {
  height: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--gray);
  border: dashed 4px var(--light-gray);
  border-radius: 24px;
}

.error-place {
  height: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  color: var(--red);
  border-radius: 24px;
  background-color: var(--light-red);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content-row {
  padding: 0px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

a {
  color: var(--gray);
  transition: 0.3s;
}

a:hover {
  color: var(--black);
  transition: 0.3s;
}

.notification{
  /* width: 320px; */
  background-color: var(--white);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap:4px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 12px 24px;
  position: fixed;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 24px rgba(2, 2, 2, 0.2);
  transition: 0.6s;
}

.active-notification{
  top: 12px;
}